---
import Layout from "../layouts/RetroLayout.astro";
import { Image } from "astro:assets";

import Profile from "../components/Profile.astro";
import Bio from "../components/Bio.astro";
import SearchBar from "../components/SearchBar.astro";

import conferences from "../data/conferences.json";
import interviews from "../data/interviews.json";
import linkedinPosts from "../data/linkedin-posts.json";

import pointerRight from "../../public/assets/pointer-right.png";
import Blog from "../components/Blog.astro";
import Books from "../components/Books.astro";
import Podcast from "../components/Podcast.astro";
---

<Layout title='Home' hasGoBack={false}>
  <SearchBar />
  <section>
    <h2>
      <a href='javascript:void(0);'>#</a>Chi sono
    </h2>
    <Profile />
  </section>
  <Bio />
  <Podcast />
  <Books />
  <section>
    <h2 id='linkedin'>
      <a href='/linkedin'><Image src={pointerRight} alt='Pointer Right' /><span>I miei post Linkedin ({linkedinPosts.length})</span></a>
    </h2>
  </section>
  <section>
    <h2 id='conferenze'>
      <a href='/conferenze'><Image src={pointerRight} alt='Pointer Right' /><span>Conferenze ({conferences.length})</span></a>
    </h2>
  </section>
  <section>
    <h2 id='interviste'>
      <a href='/interviste'><Image src={pointerRight} alt='Pointer Right' /><span>Interviste ({interviews.length})</span></a>
    </h2>
  </section>
  <section>
    <h2 id='is-this-newsletter-useful'>
      <a href='/is-this-newsletter-useful'><Image src={pointerRight} alt='Pointer Right' /><span>"Is this newsletter useful?", il mio salvavita.</span></a>
    </h2>
  </section>
  <section>
    <h2 id='software-architecture-gym-memory'>
      <a href='/software-architecture-gym-memory'><Image src={pointerRight} alt='Pointer Right' /><span>Software Architecture Gym Memory</span></a>
    </h2>
  </section>
  <Blog lang='it' langIcon='🇮🇹' />
  <Blog lang='en' langIcon='🇬🇧' />
</Layout>
