---
import { Image } from "astro:assets";

import pointerRight from "../../public/assets/pointer-right.png";
import feedRSS from "../../public/assets/feed-rss.png";

interface Props {
  lang: string;
  langIcon: string;
}

const articles = [
  {
    it: {
      title: "Inevitabot",
      url: "/blog/inevitabot",
    },
    en: {
      title: "Inevitabot",
      url: "/blog/en/inevitabot",
    },
  },
  {
    it: {
      title: "Asynchronous Batching",
      url: "/blog/asynchronous-batching",
    },
    en: {
      title: "Asynchronous Batching",
      url: "/blog/en/asynchronous-batching",
    },
  },
  {
    it: {
      title: "La silenziosa e pervasiva svalutazione del frontend",
      url: "/blog/svalutazione-frontend",
    },
    en: {
      title: "The quiet, pervasive devaluation of frontend",
      url: "/blog/en/devaluing-frontend",
    },
  },
  {
    it: {
      title: "Iterative Contract Testing",
      url: "/blog/iterative-contract-testing",
    },
    en: {
      title: "Iterative Contract Testing",
      url: "/blog/en/iterative-contract-testing",
    },
  },
  {
    it: {
      title: "I miei primi 10 anni da sviluppatore",
      url: "/blog/i-miei-primi-10-anni-da-sviluppatore",
    },
    en: {
      title: "My first 10 years in the world of development",
      url: "/blog/en/my-first-10-years-as-a-software-developer",
    },
  },
  {
    it: {
      title: "La verità sulla test coverage",
      url: "/blog/la-verita-sulla-test-coverage",
    },
    en: {
      title: "The truth about test coverage",
      url: "/blog/en/the-truth-about-test-coverage",
    },
  },
  {
    it: {
      title: "Node non ha implementato TypeScript",
      url: "/blog/node-non-ha-implementato-typescript",
    },
    en: {
      title: "Node did not implement TypeScript",
      url: "/blog/en/node-did-not-implement-typescript",
    },
  },
  {
    it: {
      title: "L'alternativa alle Roadmap",
      url: "/blog/l-alternativa-alle-roadmap",
    },
    en: {
      title: "The alternative to Roadmaps",
      url: "/blog/en/the-alternative-to-roadmaps",
    },
  },
  {
    it: {
      title: "Sits e Fits",
      url: "/blog/what-sits-and-what-fits",
    },
    en: {
      title: "What Sits And What Fits",
      url: "/blog/en/what-sits-and-what-fits",
    },
  },
  {
    it: {
      title: "Colleague-Based Testing",
      url: "/blog/colleague-based-testing",
    },
    en: {
      title: "Colleague-Based Testing",
      url: "/blog/en/colleague-based-testing",
    },
  },
  {
    it: {
      title: "Autorità e Responsabilità",
      url: "/blog/autorita-e-responsabilita",
    },
    en: {
      title: "Authority and Accountability",
      url: "/blog/authority-and-accountability",
    },
  },
  {
    it: {
      title: "Event-Driven Architecture @ TheRedCode.it",
      url: "https://www.theredcode.it/tags/event-driven/",
    },
    en: {
      title: "Event-Driven Architecture @ TheRedCode.it",
      url: "https://www.theredcode.it/tags/event-driven/",
    },
  },
];

const { lang, langIcon } = Astro.props;
---

<section class='nes-container with-title'>
  <h3 class='title'>Blog {langIcon}</h3>
  <h2>
    <a href={new URL(lang === "it" ? "feed-it.xml" : "feed.xml", Astro.site)}>
      <Image src={feedRSS} alt='Feed RSS' />
      <span>RSS Feed</span>
    </a>
  </h2>
  <hr />
  <div class='lists'>
    {
      articles
        .filter(article => article[lang])
        .map(article => (
          <h3>
            <a href={article[lang].url}>
              <Image src={pointerRight} alt={article[lang].title} />
              <span>{article[lang].title}</span>
            </a>
          </h3>
        ))
    }
  </div>
</section>
