---
const { frontmatter } = Astro.props;

import Layout from "../RetroLayout.astro";

const i18n = {
  it: {
    premise: "Per garantire una maggiore leggibilità, i post del blog rispecchiano il font di default impostato dal sistema, anziché il comune Press2Start presente nel resto del sito.",
    aiSupport: "P.S. Questo articolo è stato scritto con il <span data-tooltip>supporto dell'intelligenza artificiale</span>.",
  },
  en: {
    premise: "To ensure a better readability, blog posts reflect the default font set by the system, rather than the common Press2Start used in the rest of the site.",
    aiSupport: "P.S. This article was written with the <span data-tooltip>support of artificial intelligence</span>.",
  },
};
---

<Layout title={frontmatter.title} description={frontmatter.description} hasGoBack lang={frontmatter.lang ?? "it"}>
  <section>
    <h2>
      <a href='javascript:void(0);'>#</a>Blog
    </h2>
    <h1>{frontmatter.title}</h1>
    <h3>{frontmatter.description}</h3>
    <h4 style='margin-bottom: 1rem;'>{new Date(frontmatter.date).toLocaleDateString("it-IT")}</h4>

    <div id='post-content' class='default-font' style='margin-top: 2rem;'>
      <small>{i18n[frontmatter.lang ?? "it"].premise}</small>
      <hr />
      <slot />
      {
        frontmatter.AISupport && (
          <small data-ai-support-amount={frontmatter.AISupport}>
            <span set:html={i18n[frontmatter.lang ?? "it"].aiSupport} />
          </small>
        )
      }
    </div>
  </section>
  <script src="https://giscus.app/client.js"
        data-repo="Cadienvan/Cadienvan.github.io"
        data-repo-id="R_kgDOKvGeYg"
        data-category="Announcements"
        data-category-id="DIC_kwDOKvGeYs4Ce923"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light_high_contrast"
        data-lang="it"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</Layout>
<style is:inline>
  h3 {
    margin-top: 2rem;
  }

  h3,
  p,
  blockquote {
    max-width: 1280px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
